* {
	padding: 0;
	border: 0;
	margin: auto;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Rubik', sans-serif;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

p {
	font-family: 'Open Sans', sans-serif;
	margin-top: 15px;
	color: #0D0D0D;
	text-align: justify;
}

h1, h2, h4 {
	font-family: 'Rubik', sans-serif;
}

footer {
	text-align: right;

}

.nav {
	background-color: #41D2F2;
}

.promo {
	background-color: #0D0D0D;
	color: #F2F2F2;
}

.promoText {
	color: #F2F2F2;
	text-align: center;
}

.navtext {
	text-align: left;
	color: #F2F2F2;
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
}

.currentPage {
	color: #0D0D0D;
}

.carouselBG {
	background-color: #F2F2F2;
}

.bodyBG {
	background-color: #bbe8f2;
	padding: 15px 0px 0px 0px;
}

.testimonial {
	border: 1em solid #41D2F2;
}

.footerText {
	text-align: right;
	color: #F2F2F2;
	padding: 20px;
}

.social-menu ul {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0;
    margin: 0;
    transform: translate(-50%, -50%);
    display: flex;
    font-size: 12px;
}
.social-menu ul li {
    list-style: none;
    margin: 0 15px;
    white-space: nowrap;
}
.social-menu ul li .fa {
    font-size: 30px;
    line-height: 60px;
    transition: .6s;
    color: #000;

}
.social-menu ul li .fa:hover{
    background-color: #fff;
    color: #fff
}
.social-menu ul li a {
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0,0,0,.5);
}
.social-menu ul li a:hover {
    transform: translate(0, -10px)
    }
.social-menu ul li:nth-child(1) a:hover {
    background-color: #3b5999;

}

.social-menu ul li:nth-child(2) a:hover {
    background-color: #e4405f;

}
.footer-chasr {
    margin: 0 auto;
}