* {
	padding: 0;
	border: 0;
	margin: auto;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Rubik', sans-serif;
}


  body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
  }
  h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #17141a;
    font-weight: 600;
    margin-bottom: 30px;
 }

   h3 {
    font-size: 14px;
   
    color: #17141a;
    font-weight: 600;
    margin-bottom: 30px;
}
  h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
  } 
  h5 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
  } 

  .jumbotron {
  background-image: url("../images/yeet.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 300px;
  max-width: 100%;
  height: auto;
  text-align: center;
  font-size: 30px;
  color: #fff;
  margin-top: 50px;
}

  .container-fluid {
    padding: 60px 50px;
  }
 
  }
  .panel {
    border: 1px solid #fff; 
    border-radius:0 !important;
    transition: box-shadow 0.5s;
  }
  .panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  .panel-footer .btn:hover {
    border: 1px solid #17141a;
    background-color: #fff !important;
    color: #17141a;
  }
  .panel-heading {
    color: #fff !important;
    background-color: #17141a !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .panel-body {
  	padding: 20px;
  }
  .panel-footer {
    background-color: white !important;
  }
  }
  .panel-footer .btn {
    margin: 15px;
    background-color: #17141a;
    color: #fff;
  }

  .btn {
  	background-color: #17141a;
  	color: #fff;
  	width: 100px;
  	margin:  auto;
 	 display: block;
  }
  .card-title {
  	text-align: center;
  }
  .card-text {
  	text-align: center;
  }



